* {  box-sizing: border-box;
}

body {
	background-image:url('../images/confectionary.png');
	padding: 0px;
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	font: #777777;
	font-size: 16px;
}

hr {
	color: #777777;
}


header {
	width:100%;
	height: 15%;
	margin: 0px;
	background: #ffffff;
	border: #cccccc;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
}

p {
	color:#777777;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	color: #4aaaa5;
	font-size: 24px;
}

textarea {
	width: 90%;
	height: 250px;
}


.logo {
	width:25%;
	margin-left: 10%;
	background-color:#4aaaa5;
	color: #FFFFFF;
	text-align:center;
	vertical-align: middle;
	line-height: 85px;
	font-size: x-large;
	float: left;
}

.navigation {
	width: 65%;
	background-color: #ffffff;
	float: right;
	text-align: center;
	vertical-align: middle;
	line-height: 85px;
}

.container {
	width: 100%;
	max-width:960px;
	clear: both;
	margin: 0 auto;
	margin-bottom: 90px;
}

.content {
	width: 60%;
	padding: 5%;
	background-color: #ffffff;
	border-color: #dddddd;
	color: #777777;
	line-height: 150%;
	float: left;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
}

#bio_image {
	float: left;
	margin: 20px;
}

.connect {
	width: 30%;
	padding: 5%;
	background-color: #ffffff;
	border-color: #dddddd;
	float: right;
	margin-top: 5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.leftimage {
   position: relative; 
   float: left;
   margin-left: 50px;
   height: 200px;
   width: 200px;
   z-index: 1
}

.rightimage {
   position: relative; 
   margin-left: 75px;
   float: right;
   height: 200px;
   width: 200px;
   z-index: 1
}

.lefttext {

   position: absolute;
   float: left;
   bottom: 50px;
   width: 225px;
   text-align: center;
   padding: 10px;
   color: #FFFFFF ;
   background-color: #4aaaa5

}


.righttext {

   position: absolute;
   float: right;
   bottom: 50px;
   width: 225px;
   text-align: center;
   padding: 10px;
   color: #FFFFFF ;
   background-color: #4aaaa5

}

footer {
	text-align: center;
	clear: both;
	color: #a5b0ba;
	width:100%;
	background-color: #666666;
	line-height: 85px;
	border-top:5px;
	margin-top: 10%;
	border-style: solid;
	border-color: #4aaaa5;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
}

/* 
  These rules take effect when the browser's width
  is either 768px or less.
*/

@media screen and (max-width: 768px) {
	
	.container {
	width: 100%;
	max-width:640px;
	margin: 0 auto;
	padding: 5%;
	
	}

	.content {
		width: 100%;
		margin: 5% auto;
	}

	.connect {
		width: 100%;
		margin: 0 auto;
		padding: 5%;
		margin-bottom: 5%;
	}

	.logo {
		width:40%;
		left-margin: 10%;
		padding: 0;
	}

	#bio_image {
		width: 50%;
		height: 100%;
		margin: 0 auto;
		padding-right: 10%;
		padding-bottom: 10%;
	}

	.navigation {
		width: 50%;
		float: right;
		text-align: center;
		vertical-align: middle;
		line-height: 85px;
	}

}

/* 
  These rules take effect when the browser's width
  is either 640px or less.
*/

@media screen and (max-width: 640px) {
	
	.container {
	width: 100%;
	max-width:640px;
	margin: 0 auto;
	padding: 5%;
	
	}

	.content {
		width: 100%;
		margin: 5% auto;
	}

	.connect {
		width: 100%;
		margin: 0 auto;
		padding: 5%;
		margin-bottom: 5%;
	}

	.logo {
		width:100%;
		margin: 0;
		padding: 0;
	}

	#bio_image {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding-bottom: 10%;
	}

	.navigation {
		width: 100%;
		float: right;
		text-align: center;
		vertical-align: middle;
		line-height: 85px;
}
	

}


